---
layout: page
title: 首页
tagline: stay hungry,stay foolish
---
{% include JB/setup %}
<div class="index-list">
  <h3>分类列表</h3>
  <div class="posts">
    {% for category in site.categories %}
    <p class="category_list_item"><a href="/showCategory.html?categoryName={{ category | first }}">{{ category | first }}</a> ({{ category | last | size }})
    </p>
    {% endfor %}
  </div>
</div>
<div class="index-excerpt">
  <h3>文章摘要</h3>
  <div class="posts">
    {% for post in site.posts %}
    <div class="index-excerpt-content">
      <p style="border-bottom: 1px solid #428bca"> <a href="{{ BASE_PATH }}{{ post.url }}" style="font-size: larger">{{ post.title }}</a></p>
      {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
    </div>
    {% endfor %}
  </div>
</div>